<h2 mat-dialog-title>{{ 'ADD_CRITIQUE' | translate }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="submitCritique()">
    <mat-form-field>
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="newCritique.nom" name="nom">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="newCritique.prenom" name="prenom">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{ 'RATING' | translate }}</mat-label>
      <mat-select [(ngModel)]="newCritique.note" name="note" required>
        <mat-option *ngFor="let n of [1,2,3,4,5]" [value]="n">{{n}} / 5</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{ 'REVIEW_PLACEHOLDER' | translate }}</mat-label>
      <textarea matInput [(ngModel)]="newCritique.texte" name="texte" required></textarea>
    </mat-form-field>
    
    <div mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" type="submit">{{ 'SUBMIT' | translate }}</button>
    </div>
  </form>
</mat-dialog-content>